<section class="about-index">
  <header class="page-header">
    <div class="about">
      <h1>About Us</h1>
      <p>Welcome to Jungle, where we specialize in delivering the best in terms of your plant needs. Our team is dedicated to providing exceptional service to suit your needs.</p>
      <p>Let loose and do not worry about the bear necessaties!</p>
      <div class="gif-container">
        <img src="https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExa3duOWJ4d2lqN2oxcGZodG96bTNyZTRyOHg3ODJvdnV4NzZ3M3pkeCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/bDxWffX7tzWFi/giphy.webp" alt="Bear Necessaties" />
      </div>
    </div>
  </header>
</section>